# Database
DATABASE_URL="postgresql://neondb_owner:npg_FwBuARJC1Y3X@ep-misty-darkness-a8w3g1ys-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production"

# Paystack (primary - Nigeria)
PAYSTACK_SECRET_KEY="sk_test_ed1a1c6e27cce42af22afeb45e2aee409d61064d"
PAYSTACK_PUBLIC_KEY="pk_test_xxxxxxxxxxxx"
PAYSTACK_WEBHOOK_SECRET="your-paystack-webhook-secret"

# Stripe (global fallback)
STRIPE_SECRET_KEY="sk_test_xxxxxxxxxxxx"
STRIPE_PUBLISHABLE_KEY="pk_test_xxxxxxxxxxxx"
STRIPE_WEBHOOK_SECRET="whsec_xxxxxxxxxxxx"

# Email (Resend)
RESEND_API_KEY="re_xxxxxxxxxxxx"
FROM_EMAIL="noreply@researchforge.com"

# Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="xxxxxxxxxxxx"
CLOUDINARY_API_SECRET="xxxxxxxxxxxx"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="pk_test_xxxxxxxxxxxx"
CLOUDINARY_CLOUD_NAME=dzg30dst8
CLOUDINARY_API_KEY=133985728893175
CLOUDINARY_API_SECRET=UzrlYJxAGsnMvrTFtUMsNLEe2QY